* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100vw;
}
.model {
  display: none;
}
.dados {
  width: 100%;
  padding: 20px;
}
.dados div {
  margin-bottom: 10px;
}
.dados input{
  border-radius: 5px;
  outline: none;
  border: 1px solid;
}
#lancheQtd,
#bebidaQtd {
  width: 50px;
}
button {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px #a3a3a3;
}
.pedidos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
h2 {
  height: 40px;
}
#cozinha p,
#entrega p {
  margin-bottom: 10px;
}
